<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta  http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>欢迎登录</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script th:src="@{/js/jquery-3.3.1.js}"></script>
    <script>
        function isnull(val)
        {
            if (val == ""|| val == undefined)
            {
                return 1;
            } else
            {
                return 0;
            }
        }

        function login() {
            Username = $("#username").val();
            password = $("#password").val();
            authority = $("input[name = authority]:checked").val();

            if (isnull(Username)) {
                $("#mess").text("请输入账号");
            } else if (isnull(password)) {
                $("#mess").text("请输入密码");
            } else if (isnull(authority)) {
                $("#mess").text("请选择权限");
            } else {
                $("#mess").text(null);
                data = $("form").serialize();
                $.ajax({
                    type: "post",
                    url: "/u/ajax_login",
                    contentType: "application/x-www-form-urlencoded;charset=utf-8",
                    data: data,
                    dataType: "json",
                    success: function (result) {
                        if (result == 'N') {
                            document.getElementById("mess").innerText = "账号或密码错误";
                        } else if (result == 'Y') {
                            alert("登录成功！")
                        }
                    }
                });
            }
        }
    </script>
</head>
<body>
<div class="background">
    <img src="/picture/login_background.jpg">
    <div class="logo">
        <img src="/picture/bupt.png">
    </div>

    <div class="login_bk">
        <div class="title">欢迎登录</div>
        <span id="mess" class="err_alert"></span>
        <form name="login_form" method="post">
            <div class="account">
                账号  <input name="Username" id="username" type="text">
            </div>
            <div class="password">
                密码  <input name="password" id="password" type="password">
            </div>
            <div class="rights" id="rights">
                用户 <input type="radio" name="authority"  value="M">
                &nbsp; &nbsp; &nbsp;
                管理员 <input type="radio" name="authority" value="A">
            </div>
            <div class="button">
                <input type="button" value="登录" style="position: absolute; left: 25px" onclick="login()">
            </div>
            <button class="register_button" onclick="window.location.href='register.html'">注册</button>
        </form>
    </div>
</div>
</body>
</html>