<!DOCTYPE html>
<html>

<head>
  <meta author="chenggang" charset="UTF-8">
<title>工资管理</title>

<link rel="stylesheet" type="text/css" href="../../../static/css/u/finance/salary.css">

</head>

<body>
  <div class="box0">
  <h1>
  <div class="box">
    <a href="#">主页</a>
    <a href="#">退出账号</a>
  </div>
  <div class="box1">
    <a href="#">317财务管理系统</a>
  </div>
</h1>
</div>
<hr>
<div class="container">
    <div class="box2">
    <div class="box3">
      <span>出入账一览</span>
    </div>

    <div class="box4">
    <a href="#">入账管理</a>
    </div>

    <div class="box5">
    <a href="#">工资管理</a>
    </div>

    </div>
    <br>
    <div class="box11">
    <table border="2" width="100%">
      <tr>
        <th>姓名</th>
        <th>日期</th>
        <th>备注</th>
        <th>派发状态</th>
      </tr>
      <tr>
        <td>张三</td>
        <td>#年#月#日</td>
        <td></td>
        <td>已派发</td>
      </tr>
      <tr>
        <td>李四</td>
        <td>#年#月#日</td>
        <td></td>
        <td>未派发</td>
      </tr>
      <tr>
        <td><br></td>
        <td><br></td>
        <td><br></td>
        <td><br></td>
      </tr>
      <tr>
        <td><br></td>
        <td><br></td>
        <td><br></td>
        <td><br></td>
      </tr>
    </table>
    </div>
</div>


</body>

</html>
