
body {
  background:#c0c0c0;
}
*{
  box-sizing:border-box;
}
span{
  font-size:20px;
}
h1>div{
  font-size:20px;
}

a{
  text-decoration:none;
  color:#000;
}

.box0{
  width:90%;
  height:80px;
  background:white;
  padding:5px;
  border:3px;
  margin:0 auto;
  border-radius:8px;


}
.box{
  width:150px;
  height:40px;
  background:gray;
  padding:5px;
  border:5px solid black;
  margin:3px;
float:left;
}

.box1{
  width:60%;
  height:20px;
  margin:0px auto;
  float:right;
}

.container{
  width:90%;
  height:100%;
  background:white;
  padding:5px;
  border:5px;
  margin:0 auto;
  border-radius:8px;
}

.box2{
  width:90%;
  height:90%;
  background:gray;
  margin:50px auto;
}

.box3{
  width:50%;
  height:90%;
  padding:30px;
  border:20px ;
  margin:0px auto;
  background:lightgray;
}
.box4{
  width:50%;
  height:90%;
  margin:0px auto;
  background:lightgray;
}
.box5{
  width:50%;
  height:90%;
  margin:0px auto;
  background:lightgray;
}

.box6{
  width:50%;
  height:90%;
  margin:0px auto;
  background:lightgray;
}
